<!DOCTYPE html>
<html>
  <head>
    <title>Matsutter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <div>
      <li>ホーム</li>
      <li>投稿一覧</li>
    </div>
  </header>
    <%= yield %>
  <footer>
    <p>運営会社DIVE INTO CODE株式会社</p>
    <p>© 2015-2018 Copyright DIVE INTO CODE Corp.</p>
  </footer>
  </body>
</html>
